# Ignore all .txt and .pdf files in the tutorial folder
/TurboShipCostCalculator/tutorial/*.txt
/TurboShipCostCalculator/tutorial/*.pdf
/TurboShipCostCalculator/.ipynb_checkpoints/
/TurboShipCostCalculator/__pycache__/
**/__pycache__/
**/.ipynb_checkpoints/


*.pdf
*.zip
*.pkl